body {
  background-color: whitesmoke;
}

.to-do-list {
  background-color: #fff;
  width: 100%;
  max-width: 480px;
  margin: auto;
  max-height: 100%;
  box-shadow: 2px 2px 5px 5px rgb(216, 216, 216);
}

.to-do-list > .header,
.to-do-list > .new,
.to-do-list > .footer,
.task {
  padding: 15px 10px;
  border-bottom: solid 1px silver;
  display: flex;
  justify-content: space-between;
  font-family: Arial, sans-serif;
  color: gray;
}

.to-do-list > .footer {
  justify-content: center;
  background-color: whitesmoke;
}

input[type="text"] {
  border: none;
  outline: none;
  color: gray;
  font-size: 16px;
}

input[type="text"]::placeholder {
  color: silver;
}

input.txtNew {
  font-style: italic;
  width: 90%;
}

.task input[type="text"] {
  height: 100%;
  width: 90%;
}

.task.completed input[type="text"] {
  text-decoration: line-through;
}

.add,
.remove,
.refresh {
  cursor: pointer;
}

.add {
  transform: rotate(90deg);
  margin-right: 5px;
}
